body 
{
      background: #262626;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
}
.swiper-container 
{
      width: 100%;
      padding-top: 150px;
      padding-bottom: 50px;
 }
.swiper-slide 
{
      background-position: center;
      background-size: cover;
      width: 280px;
      height: 380px;
    background: #000;

 }
h3 
{
   color: #fff;
    text-align: center;
}
.swiper-slide .imgbx
{
    width: 100%;
/*    height: 100%;*/
    overflow: hidden;
}
.swiper-slide .imgbx img
{
    width: 100%;
}

..swiper-slide .details
{
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
}
.swiper-slide .details h3
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align-last: center;
    line-height: 20px;
}

/*------------------*/

.navbar {
  background-color: #262626;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #000;
  color: #fff;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #000000;
  color: white;
}





