@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,100&display=swap');

$myFontSize: 18px;
$font-stack: 'Alegreya Sans', sans-serif;    


$myColor: #ffd700;
$primary-color: #038593;
$white: #ffffff;
$green: #1abc9c;
$purple: #7d558a;
$orange: #fcc19a;
$pink: #fecdd6;
$blue:  #68c3ff;
$lightgreen: #95fff0;
